body {
    background: #d6cece;
    margin: 0;
    
}

.navbar {
    background: rgb(163, 120, 204);
    padding: 1em;
}
.navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}
.navbar .logo span {
    color: rgb(47, 6, 114);
}
  
a {
    color: black;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
section {
    padding: 5em 2em;
}
  
.navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
}
  
.navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
}
.navbar nav ul {
    display: flex;
}
.navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
}
.navbar nav ul.primary-nav {
    margin: 0;
}
.navbar nav li.current a {
    font-weight: bold;
}
.navbar nav li.premium-cta {
    color: rgb(122, 39, 199);
    border: 3px solid rgb(122, 39, 199);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
}
.navbar nav li.premium-cta a:hover {
    color: white;
}
.navbar nav li.premium-cta:hover {
    background: rgb(122, 39, 199);
}

.payment-section {
    background: white;
}

.payment-section ul{
    color: white;
    background: rgb(122, 39, 199);
    text-align: center;
    font-size: larger;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;
}

.payment-section a{
    color: white;
}